@import url('https://fonts.cdnfonts.com/css/cholvine');
@import url('https://fonts.cdnfonts.com/css/verdana-pro-cond');


:root{
  --primaryFont : 'Cholvine', sans-serif;
  --secundaryFont: 'Verdana Pro Cond', sans-serif;

  --green100: #8AA6A3;
  --green200: #127369;
  --green300: #083632;
  --gray100: #BFBFBF;
  --gray200: #4C5958;
}